<div class="adjustbackground">
  <div class="container adjustcontainer">
    <table class="table table-striped customm-table shadow table-responsive-custom bg-white ">
      <thead>
        <tr>
          <th>Commerical Invoice No.</th>
          <th>Amount</th>
          <th>Commerical Invoice Date</th>
          <th>Due since(days)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>
        <tr>
          <td>7894949</td>
          <td>07/02/2017</td>
          <td>7999</td>
          <td>
            4
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
