<div class="row headrback">
  <div class="col-9 col-sm-12 col-md-9  col-lg-4  col-xl-4 ">
    <h3 [routerLink]="['/']" class="header">Unilex Logistics Tracker</h3>
  </div>
  <div class="col-sm-12 col-md-4  col-lg-4  col-xl-4 menulistblock">
    <ul class="list-inline menu">
      <li class="list-inline-item menuItem" [ngClass]="{'active': selectedHeadermenu == 'account'}" (click)="selectHeaderSection('account')">
        <a class="nav-link" [routerLink]="['/account']">Accounts</a>

      </li>
      <li class="list-inline-item menuItem" [ngClass]="{'active': selectedHeadermenu == 'orderdetails'}" (click)="selectHeaderSection('orderdetails')">
        <a class="nav-link" [routerLink]="['/orderdetails']">Order details</a>

      </li>
      <li class="list-inline-item menuItem" [ngClass]="{'active': selectedHeadermenu == 'dashboard'}" (click)="selectHeaderSection('dashboard')">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
    </ul>

  </div>
  <div class="col-3  col-sm-12 col-md-3  col-lg-8  col-xl-4 ">
    <img src="../../../assets/images/avatar.png" data-toggle="dropdown" class="dropdown-toggle rounded-circle avatar" />
    <ul class="dropdown-menu custompr">
      <li align="center" class="well"[ngClass]="{'active': selectedHeadermenu == 'account'}" (click)="selectHeaderSection('account')" >
        <a  [routerLink]="['/account']" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Accounts</a>
      </li>
      <li align="center" class="well" [ngClass]="{'active': selectedHeadermenu == 'orderdetails'}" (click)="selectHeaderSection('orderdetails')" >
        <a  [routerLink]="['/orderdetails']" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Order details</a>
      </li>
      <li align="center" class="well" [ngClass]="{'active': selectedHeadermenu == 'dashboard'}" (click)="selectHeaderSection('dashboard')" >
        <a [routerLink]="['/dashboard']"  class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Dashboard</a>
      </li>
      <li align="center" class="well"  >
          <a (click)="logout()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Log-Out</a>
        </li>
    </ul>
  </div>
</div>
