<div class="adjustbackground">
  <div class="container adjustcontainer">
    <table class="table table-striped customm-table shadow   bg-white ">
      <thead>
        <tr>
          <th>Product</th>
          <th>Volume</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td>Earphones</td>
          <td>1</td>
          <td>
            7999
          </td>
        </tr>
        <tr>
          <td> <b>Total</b></td>
          <td>9</td>
          <td>
            67991
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
