.tabledesing{
    border: 1px solid;
}
.btnstel {
    color: white;
    background: rgba(172, 151, 240);
    border: 0px
  }
  
  .bgbutton {
    background: white;
    color: rgba(172, 151, 240);
    border: 1px solid rgba(172, 151, 240);
  }
  