.form-inline .form-group {
  margin-left: 12px;
  margin-right: 12px;
}

.addprodyc {
  justify-content: flex-end
}

.btnstel {
  color: white;
  background: rgba(172, 151, 240);
  border: 0px
}

.bgbutton {
  background: white;
  color: rgba(172, 151, 240);
  border: 1px solid rgba(172, 151, 240);
}
